


@media (max-width: 375px){
    html, body {
        margin: 0;
        font-family: 'Press Start 2P';
        font-weight: 600;
        background-color: green;
        color: yellow;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 0.88em;
        overflow-x: hidden;
      }
    
    nav {
        display: flex;
        flex-direction: column;
        background-color: darkkhaki; 
        padding: 2em; 
        gap: 10px;      
    }
    
    .game, .instructions {
        color: yellow;
        text-decoration: none;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 1.5em;
    }
    
    .game:hover, .instructions:hover {
        color: #30D5C8
    }
    
    .inth>h1 {
        margin: 1em;
        text-align: center;
        font-size: 1.2em;
    }
    
    .inth>p{
        padding-left: 1em;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 20px;
    }
    
   
    
    .dice-container {
        display: flex; 
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
    
    
    .buttons1 {
        
        display: flex;
        flex-direction: column;  
        
    }
    
    .buttons1>button, .endTurnBtn, .resetBtn{
        background-color: darkkhaki;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        color: yellow;
        font-family: 'Press Start 2P';
        padding: 1em;
        border-radius: 1em;
        width: 60%;
        align-self: center; 
        justify-content: flex-start;
    }
    
    .buttons1>button:hover, .endTurnBtn:hover, .resetBtn:hover {
        background-color: turquoise
    }
    
    .buttons1>button:focus, .endTurnBtn:focus, .resetBtn, .resetBtn:hover, .resetBtn:focus{
        outline: none;
    }
    
    .rollBtn, .bankBtn, .newDiceBtn {
        margin-bottom: 0.5em
    }
    
    
    .gameh1 {
        text-align: center; 
        
        padding-left: 2.3em
    }
    
    .gameh2 {
        text-align: center; 
        padding-top: 1.2em;
    }
    
    .theBigDice {
        font-size: 5em;
        margin-top: 0;
    }
    
    .dice-container {
        height: 8em;
        display: flex; 
        margin-top: -20px;
        font-size: 1.5em
    
    }
    
    .theScore {
        padding-left: 1em;
    }
    
    
    .rollBtn:disabled,
    .rollBtn:disabled:hover, 
    .newDiceBtn:disabled,
    .newDiceBtn:disabled:hover,
    .bankBtn:disabled,
    .bankBtn:disabled:hover,
    .endTurnBtn:disabled,
    .endTurnBtn:disabled:hover
    .resetBtnDisabled,
    .resetBtnDisabled:hover{
        color: black;
        background-color: gray 
    }
    
    .endTurnBtn, .resetBtn{
        width: 7em;
        text-align: center;
        font-size: 0.8em;
        margin-right: 1em;
        margin-top: 1em;
    }
    .theScore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
    }
    
    .bustedText {
        padding-left: 1em;
        margin-top: 0.1em;
    }
    
    
    
    .topSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        justify-items: left;
        align-items: center;
        margin: 0;
      }
      
      .topSection>.theRightSection {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em
        
      }
   
    .bankedText {
        padding-left: 1em;
    }
    .groupTopText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .bankedh1 {
        text-align: center;
        margin: 0 auto;
        display: table;
      }

      .reminder {
        text-align: center;
        font-size: 0.8em
      }

      .middleSection {


        text-align: center;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 1em;
        
      }

}
@media (min-width: 376px) and (max-width: 768px){
    html, body {
        margin: 0;
        font-family: 'Press Start 2P';
        font-weight: 600;
        background-color: green;
        color: yellow;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 0.88em;
        overflow-x: hidden; /* added to prevent horizontal scrolling */
    }

   
    nav {
        display: flex;
        flex-direction: column;
        background-color: darkkhaki; 
        padding: 2em; 
        gap: 10px;      
    }
    
    .game, .instructions {
        color: yellow;
        text-decoration: none;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 1.5em;
    }
    
    .game:hover, .instructions:hover {
        color: #30D5C8
    }
    
    .inth>h1 {
        margin: 1em;
        text-align: center;
        font-size: 1.2em;
    }
    
    .inth>p{
        padding-left: 1em;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 20px;
    }
    

    
    .dice-container {
        display: flex; 
        flex-direction: row;
        gap: 8px;
        justify-content: center;
        font-size: 1.65em
    }
    
    
    .buttons1 {
        
        display: flex;
        flex-direction: column;  
        
    }
    
    .buttons1>button, .endTurnBtn, .resetBtn{
        background-color: darkkhaki;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        color: yellow;
        font-family: 'Press Start 2P';
        padding: 1em;
        border-radius: 1em;
        width: 60%;
        align-self: center; 
        justify-content: flex-start;
    }
    
    .buttons1>button:hover, .endTurnBtn:hover, .resetBtn:hover {
        background-color: turquoise
    }
    
    .buttons1>button:focus, .endTurnBtn:focus, .resetBtn, .resetBtn:hover, .resetBtn:focus{
        outline: none;
    }
    
    .rollBtn, .bankBtn, .newDiceBtn {
        margin-bottom: 0.5em
    }
    
    
    .gameh1 {
        text-align: center; 
        
        padding-left: 2.3em
    }
    
    .gameh2 {
        text-align: center; 
        padding-top: 1.2em;
    }
    
    .theBigDice {
        font-size: 5em;
        margin-top: 0;
    }
    
    .dice-container {
        height: 8em;
        display: flex; 
        margin-top: -20px
    
    }
    
    .theScore {
        padding-left: 1em;
    }
    
    
    .rollBtn:disabled,
    .rollBtn:disabled:hover, 
    .newDiceBtn:disabled,
    .newDiceBtn:disabled:hover,
    .bankBtn:disabled,
    .bankBtn:disabled:hover,
    .endTurnBtn:disabled,
    .endTurnBtn:disabled:hover
    .resetBtnDisabled,
    .resetBtnDisabled:hover{
        color: black;
        background-color: gray 
    }
    
    .endTurnBtn, .resetBtn{
        width: 7em;
        text-align: center;
        font-size: 0.8em;
        margin-right: 1em;
        margin-top: 1em;
    }
    .theScore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
    }
    
    .bustedText {
        padding-left: 1em;
        margin-top: 0.1em;
    }
    
    
    
    .topSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        justify-items: left;
        align-items: center;
        margin: 0;
      }
      
      .topSection>.theRightSection {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em
        
      }
   
    .bankedText {
        padding-left: 1em;
    }
    .groupTopText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .bankedh1 {
        text-align: center;
        margin: 0 auto;
        display: table;
      }

      .reminder {
        text-align: center;
        font-size: 0.8em
      }

      .middleSection {


        text-align: center;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 1em;
        
      }
    
}
@media (min-width: 769px){
    html, body {
        margin: 0;
        font-family: 'Press Start 2P';
        font-weight: 600;
        background-color: purple;
        color: yellow;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 1em;
        overflow-x: hidden; /* added to prevent horizontal scrolling */
      }
    
    nav {
        display: flex;
        flex-direction: column;
        background-color: darkkhaki; 
        padding: 2em; 
        gap: 10px;      
    }
    
    .game, .instructions {
        color: yellow;
        text-decoration: none;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        font-size: 1.5em;
    }
    
    .game:hover, .instructions:hover {
        color: #30D5C8
    }
    
    .inth>h1 {
        margin: 1em;
        text-align: center;
        font-size: 1.2em;
    }
    
    .inth>p{
        padding-left: 1em;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 20px;
    }
    
   
    
    .dice-container {
        display: flex; 
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
    
    
    .buttons1 {
        
        display: flex;
        flex-direction: column;  
        
    }
    
    .buttons1>button, .endTurnBtn, .resetBtn{
        background-color: darkkhaki;
        text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
        color: yellow;
        font-family: 'Press Start 2P';
        padding: 1em;
        border-radius: 1em;
        width: 60%;
        align-self: center; 
        justify-content: flex-start;
    }
    
    .buttons1>button:hover, .endTurnBtn:hover, .resetBtn:hover {
        background-color: turquoise
    }
    
    .buttons1>button:focus, .endTurnBtn:focus, .resetBtn, .resetBtn:hover, .resetBtn:focus{
        outline: none;
    }
    
    .rollBtn, .bankBtn, .newDiceBtn {
        margin-bottom: 0.5em
    }
    
    
    .gameh1 {
        text-align: center; 
        
        padding-left: 2.3em
    }
    
    .gameh2 {
        text-align: center; 
        padding-top: 1.2em;
    }
    
    .theBigDice {
        font-size: 5em;
        margin-top: 0;
    }
    
    .dice-container {
        height: 8em;
        display: flex; 
        margin-top: -20px
    
    }
    
    .theScore {
        padding-left: 1em;
    }
    
    
    .rollBtn:disabled,
    .rollBtn:disabled:hover, 
    .newDiceBtn:disabled,
    .newDiceBtn:disabled:hover,
    .bankBtn:disabled,
    .bankBtn:disabled:hover,
    .endTurnBtn:disabled,
    .endTurnBtn:disabled:hover
    .resetBtnDisabled,
    .resetBtnDisabled:hover{
        color: black;
        background-color: gray 
    }
    
    .endTurnBtn, .resetBtn{
        width: 7em;
        text-align: center;
        font-size: 0.8em;
        margin-right: 1em;
        margin-top: 1em;
    }
    .theScore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
    }
    
    .bustedText {
        padding-left: 1em;
        margin-top: 0;
        line-height: 0
    }
    
    
    
    .topSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        justify-items: left;
        align-items: center;
        margin: 0;
      }
      
      .topSection>.theRightSection {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1em
        
      }
   
    .bankedText {
        padding-left: 1em;
    }
    .groupTopText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .bankedh1 {
        text-align: center;
        margin: 0 auto;
        display: table;
      }

      .reminder {
        text-align: center;
        font-size: 0.8em
      }

      .middleSection {


        text-align: center;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 1em;
        
      }

   

      
}
